@charset "utf-8";
$border: 2px solid #060606;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SUIT", sans-serif, "helvetica";
  color: #060606;
  font-size: 10px;
  letter-spacing: -0.4px;
  cursor: url(../img/cursor.png), url(../img/cursor.svg), default;
}

a {
  cursor: url(../img/pointer.png), pointer;
  text-decoration: none;
}

img {
  vertical-align: top;
  margin: 0;
  padding: 0;
}

table {
  border: 0;
  vertical-align: top;
  border-collapse: collapse;
}

th,
tr {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  user-select: none;
}

select,
input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-radius: 1px;
  border: none;
  background-color: transparent;
}

button {
  border: none;
  outline: none;
  cursor: url(../img/pointer.png), pointer;
}

input[type="search"]::-webkit-search-cancel-button {
  // -webkit-appearance: none;
  width: 20px;
  height: 20px;
  // background: url(../img/search-x.png) center center no-repeat;
}

input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  z-index: 1;
}

textarea {
  border: none;
  outline: none;
  background-color: transparent;
  resize: none;
}

span {
  display: inline-block;
}
.wrap {
  width: 100%;
  height: 100%;
}
//스크롤바

::-webkit-scrollbar {
  width: 18px;
  height: 11px;
}

::-webkit-scrollbar-thumb {
  height: 30%;
  background: #5fff5b;

  border: $border;
  border-right: none;
}

::-webkit-scrollbar-track {
  border-left: $border;
  background-clip: padding-box;

  padding-left: 2px;
}
html,
body {
  background-color: #f6f6f6;
  overflow-x: hidden;
  width: 100vw;
}
// 폰트

@font-face {
  font-family: "helvetica";
  src: url("../font/Helvetica-01.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "helvetica";
  src: url("../font/Helvetica-Bold-02.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "helvetica";
  src: url("../font/Helvetica-Light-05.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
