* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SUIT", sans-serif, "helvetica";
  color: #060606;
  font-size: 10px;
  letter-spacing: -0.4px;
  cursor: url(../img/cursor.png), url(../img/cursor.svg), default;
}

a {
  cursor: url(../img/pointer.png), pointer;
  text-decoration: none;
}

img {
  vertical-align: top;
  margin: 0;
  padding: 0;
}

table {
  border: 0;
  vertical-align: top;
  border-collapse: collapse;
}

th,
tr {
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

select,
input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-radius: 1px;
  border: none;
  background-color: transparent;
}

button {
  border: none;
  outline: none;
  cursor: url(../img/pointer.png), pointer;
}

input[type=search]::-webkit-search-cancel-button {
  width: 20px;
  height: 20px;
}

input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-inner-spin-button {
  display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  background: transparent;
  z-index: 1;
}

textarea {
  border: none;
  outline: none;
  background-color: transparent;
  resize: none;
}

span {
  display: inline-block;
}

.wrap {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 18px;
  height: 11px;
}

::-webkit-scrollbar-thumb {
  height: 30%;
  background: #5fff5b;
  border: 2px solid #060606;
  border-right: none;
}

::-webkit-scrollbar-track {
  border-left: 2px solid #060606;
  background-clip: padding-box;
  padding-left: 2px;
}

html,
body {
  background-color: #f6f6f6;
  overflow-x: hidden;
  width: 100%;
}

@font-face {
  font-family: "helvetica";
  src: url("../font/Helvetica-01.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "helvetica";
  src: url("../font/Helvetica-Bold-02.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "helvetica";
  src: url("../font/Helvetica-Light-05.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}