@media screen and (min-width: 1921px) {
  body {
    border-left: 2px solid #060606;
    border-right: 2px solid #060606;
  }
}
@media all and (min-width: 1860px) {
  body {
    max-width: 1920px;
    height: 3920px;
    margin: 0 auto;
    overflow: hidden;
  }
  .input-text {
    width: 100%;
    height: 100%;
    border: 2px solid #060606;
    font-size: 3.6rem;
    font-weight: 500;
    color: #060606;
    padding: 36px;
  }
  .input-text::-moz-placeholder {
    font-size: 2.4rem;
    color: #4a4a4a;
  }
  .input-text::placeholder {
    font-size: 2.4rem;
    color: #4a4a4a;
  }
  .input-text:focus {
    box-shadow: 0px 0px 5px #5fff5b;
  }
  header {
    width: 100%;
    height: 150px;
    border-bottom: 2px solid #060606;
  }
  header .gnb {
    width: 150px;
    height: 100%;
    border-right: 2px solid #060606;
    float: left;
    padding-top: 47px;
  }
  header .gnb .hamburger {
    width: 72px;
    height: 52px;
    margin: 0 auto;
  }
  header .gnb .hamburger .ham {
    width: 72px;
    height: 5px;
    background-color: #060606;
    display: block;
    margin-bottom: 18px;
  }
  header .logo {
    min-width: 150px;
    height: 100%;
    float: left;
    background-image: url(../img/logo.svg);
    background-position: 42px center;
    background-repeat: no-repeat;
  }
  header .gnb-ul {
    float: right;
    height: 100%;
    display: flex;
  }
  header .gnb-ul li {
    display: inline-block;
    height: 100%;
    line-height: 150px;
    text-align: center;
    width: 290px;
    position: relative;
    border-left: 2px solid #060606;
    position: relative;
    z-index: 1;
  }
  header .gnb-ul li a {
    position: relative;
    font-weight: 700;
    font-family: "helvetica";
    font-style: italic;
    font-weight: 700;
    font-size: 3.6rem;
  }
  header .gnb-ul li a::after {
    width: 0px;
    transition-duration: 0.3s;
    content: "";
    display: block;
    position: absolute;
    background-color: #5fff5b;
    height: 30px;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
  header .gnb-ul li:hover a::after {
    width: 110%;
  }
  section {
    border-bottom: 2px solid #060606;
    min-height: 700px;
    width: 100%;
  }
  .main-banner {
    position: relative;
    height: 800px;
    display: flex;
    align-items: flex-start;
  }
  .main-banner div {
    display: inline-block;
  }
  .main-banner .main-left {
    width: 20%;
    height: 800px;
    position: relative;
    border-right: 2px solid #060606;
  }
  .main-banner .main-left .object-moon {
    display: inline-block;
    width: 434px;
    height: 434px;
    background-image: url(../img/moon.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 32px;
    left: 32px;
    animation: rotate_image 20s linear infinite;
    transform-origin: 50% 50%;
  }
  @keyframes rotate_image {
    100% {
      transform: rotate(360deg);
    }
  }
  .main-banner .main-center {
    width: calc(80% - 580px);
    display: flex;
    flex-direction: column;
  }
  .main-banner .main-center .center-top {
    width: 100%;
    height: 350px;
  }
  .main-banner .main-center .center-bottom {
    width: 100%;
  }
  .main-banner .main-center .bottom-1,
  .main-banner .main-center .bottom-2,
  .main-banner .main-center .bottom-3 {
    width: 100%;
    height: 150px;
    border-top: 2px solid #060606;
    font-size: 14.4rem;
    font-weight: 900;
    white-space: nowrap;
    overflow: hidden;
    font-family: "helvetica";
    text-transform: uppercase;
    font-style: italic;
    /* identical to box height */
    white-space: nowrap;
    overflow: hidden;
  }
  .main-banner .main-center .bottom-1 > .typing-demo {
    animation-fill-mode: forwards;
  }
  .main-banner .main-center .bottom-2 > .typing-demo {
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }
  .main-banner .main-center .bottom-3 > .typing-demo {
    animation: typing3 1s steps(22), blink 0.2s step-end alternate;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }
  .main-banner .wrapper {
    /*This part is important for centering*/
    display: grid;
    place-items: left;
  }
  .main-banner .typing-demo {
    width: 0;
    line-height: 143px;
    font-size: 14.4rem;
    font-weight: 900;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: "helvetica";
    text-transform: uppercase;
    font-style: italic;
  }
  .main-banner .typing-demo span {
    color: transparent;
    font-size: 14rem;
    -webkit-text-stroke: 2px #060606;
  }
  @keyframes typing1 {
    from {
      width: 0;
    }
    to {
      width: 830px;
    }
  }
  @keyframes typing2 {
    from {
      width: 0;
    }
    to {
      width: 830px;
    }
  }
  @keyframes typing3 {
    from {
      width: 0;
    }
    to {
      width: 780px;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  .main-banner .main-right {
    border-left: 2px solid #060606;
    width: 580px;
    height: 100%;
    float: right;
  }
  .main-banner .main-right .right-top {
    border-bottom: 2px solid #060606;
    height: 502px;
    width: 100%;
    color: transparent;
  }
  .main-banner .main-right .right-bottom {
    width: 100%;
    height: calc(100% - 500px);
    background-image: url(../img/universe.png);
    background-position: 40px center;
    background-repeat: no-repeat;
  }
  .scroll-link {
    position: absolute;
    bottom: 36px;
    left: 36px;
    z-index: 9999;
  }
  .mouse {
    max-width: 5rem;
    width: 100%;
    height: auto;
    border: #060606;
  }
  .mouse g {
    stroke: #060606;
  }
  .mouse rect {
    stroke: #060606;
    fill: #f6f6f6;
    stroke-width: 3px;
  }
  .mouse circle {
    stroke-width: 3px;
  }
  .scroll {
    animation-name: scroll;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
    animation-iteration-count: infinite;
    transform-origin: 50% 20.5px;
    will-change: transform;
  }
  @keyframes scroll {
    0%, 20% {
      transform: translateY(0) scaleY(1);
    }
    10% {
      opacity: 1;
    }
    100% {
      transform: translateY(36px) scaleY(2);
      opacity: 0.01;
    }
  }
  .about {
    width: 100%;
    height: 800px;
  }
  .about .about-left {
    width: 45%;
    float: left;
    height: 100%;
    border-right: 2px solid #060606;
    position: relative;
  }
  .about .about-left .img-cloud {
    width: 607px;
    height: 482px;
    background-image: url(../img/cloud.png);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .about .about-left .img-cloud:last-of-type {
    transform: translate(-45%, -45%) rotate(15deg);
  }
  .about .about-right {
    width: 55%;
    float: right;
    height: 100%;
  }
  .about .about-right .introduce {
    width: 100%;
    padding: 32px;
    height: 500px;
    border-bottom: 2px solid #060606;
    position: relative;
  }
  .about .about-right .introduce .title-text {
    margin-bottom: 25px;
  }
  .about .about-right .introduce .title-text::after {
    width: 110%;
    content: "";
    display: block;
    background-color: #5fff5b;
    height: 30px;
    position: absolute;
    bottom: 15px;
    left: -20px;
    z-index: -1;
  }
  .about .about-right .about-bottom {
    width: 100%;
    height: calc(100% - 500px);
  }
  .about .about-right .about-bottom .tools,
  .about .about-right .about-bottom .skills {
    display: inline-block;
    width: 50%;
    height: 100%;
    padding: 32px;
  }
  .about .about-right .about-bottom .tools {
    float: left;
    border-right: 2px solid #060606;
  }
  .about .about-right .about-bottom .skills {
    float: right;
  }
  .btn-more {
    width: 70px;
    position: absolute;
    right: 36px;
    bottom: 36px;
    height: 41px;
    background-image: url(../img/more_hover.svg);
    background-position: right center;
    background-repeat: no-repeat;
    transition-duration: 0.2s;
  }
  .btn-more:hover {
    width: 100px;
  }
  .title-text {
    position: relative;
    font-family: "helvetica";
    font-style: italic;
    font-weight: 700;
    font-size: 10rem;
    line-height: 122px;
    z-index: 99;
  }
  .title-small {
    position: relative;
    font-family: "helvetica";
    font-style: italic;
    font-weight: 700;
    font-size: 4rem;
    z-index: 99;
    display: block;
    margin-bottom: 24px;
  }
  .text {
    font-style: normal;
    font-weight: 400;
    font-size: 3.7rem;
    line-height: 57px;
  }
  .text-small {
    font-weight: 400px;
    font-size: 2.6rem;
    word-break: keep-all;
  }
  .return-top {
    background-color: red;
    width: 100px;
    height: 100px;
    border: 2px solid #060606;
    position: fixed;
    right: 36px;
    bottom: 36px;
    z-index: 999;
  }
  .portfolio {
    height: 950px;
  }
  .swiper-wrapper {
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
    padding: 100px 0;
    display: flex;
  }
  .swiper-slide {
    flex-shrink: 0;
    display: inline-block;
    width: 500px;
    height: 610px !important;
    border: 2px solid #060606 !important;
    margin: 25px;
    transition-duration: 0.4s;
    cursor: url(../img/pointer.png), url(../img/pointer.svg), pointer;
  }
  .swiper-slide:nth-of-type(2n) {
    margin-top: 100px;
  }
  .swiper-slide:hover {
    transform: scale(1.02);
  }
  .swiper-slide .title {
    width: 100%;
    height: 74px;
    background-color: #060606;
    color: #f6f6f6;
    font-family: "helvetica";
    font-weight: 700;
    font-size: 8.5rem;
    line-height: 74px;
    font-style: italic;
    cursor: url(../img/pointer.png), url(../img/pointer.svg), pointer;
  }
  .swiper-slide .con {
    width: 100%;
    height: calc(100% - 74px);
    background-color: #5fff5b;
    cursor: url(../img/pointer.png), url(../img/pointer.svg), pointer;
  }
  .contact {
    height: 800px;
  }
  .contact .email-form {
    width: 55%;
    height: 100%;
    border-right: 2px solid #060606;
    float: left;
    padding: 36px;
  }
  .contact .email-form .row {
    width: 100%;
    height: 100px;
    margin-bottom: 36px;
  }
  .contact .email-form .row.large {
    height: 300px;
  }
  .contact .email-form .btn-sand {
    width: 100%;
    height: 100px;
    background-color: #060606;
    font-family: "helvetica";
    font-size: 4.6rem;
    font-weight: 700;
    font-style: italic;
    color: #fdfdfd;
  }
  .contact .contact-title {
    width: 45%;
    height: 100%;
    float: right;
    padding: 36px;
    position: relative;
    top: 0;
    left: 0;
  }
  .contact .contact-title .line {
    height: 16px;
    width: 270px;
    top: 0;
    left: 0;
    background-image: url(../img/universe-bg.png);
    position: absolute;
  }
  .contact .contact-title .title-text {
    margin-bottom: 16px;
  }
  .contact .contact-title .text {
    margin-bottom: 36px;
  }
  .contact .contact-title .moon_2 {
    width: 240px;
    height: 254px;
    position: absolute;
    right: 50px;
    bottom: 50px;
    background-image: url(../img/moon_2.svg);
  }
  footer {
    height: 420px;
    width: 100%;
    background-color: #060606;
    position: relative;
    overflow: hidden;
  }
  footer .copyright {
    color: #f6f6f6;
    font-weight: 700;
    font-size: 11.8rem;
    white-space: nowrap;
    animation: copy 20s linear infinite;
    position: absolute;
  }
  @keyframes copy {
    to {
      transform: translate(-100%);
    }
    from {
      transform: translate(100%);
    }
  }
  .layer-open {
    overflow: hidden;
  }
  .dim-layer {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
  .popup {
    position: fixed;
    width: 1640px;
    height: 910px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: 9999;
    background-color: #f6f6f6;
    border: 2px solid #060606;
  }
  .popup .pop-title {
    width: 100%;
    height: 150px;
    border-bottom: 2px solid #060606;
  }
  .popup .pop-title .title-text {
    text-transform: uppercase;
    line-height: 150px;
    padding-left: 36px;
    float: left;
    position: relative;
  }
  .popup .pop-title .title-text::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #5fff5b;
    width: 100%;
    height: 36px;
    bottom: 25px;
    left: 56%;
    transform: translateX(-50%);
    z-index: -1;
  }
  .popup .pop-title .pop-close-btn {
    float: right;
    width: 620px;
    height: 150px;
    border-left: 2px solid #060606;
    cursor: url(../img/pointer.png), pointer;
    background-image: url(../img/btn-close.svg);
    background-repeat: no-repeat;
    background-position: right top;
  }
  .popup .pop-inner {
    width: 100%;
    height: calc(100% - 150px);
  }
  .popup .pop-inner .left {
    width: calc(100% - 620px);
    height: 100%;
    float: left;
    padding: 36px;
  }
  .popup .pop-inner .right {
    width: 620px;
    float: right;
    height: 100%;
    border-left: 2px solid #060606;
  }
  .popup .pop-inner .right .right-top {
    width: 100%;
    height: 600px;
    border-bottom: 2px solid #060606;
  }
  .popup .pop-inner .right .right-bottom {
    width: 100%;
    height: calc(100% - 600px);
  }
  .pop-wrap {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
  }
  .scroll-wrap {
    overflow-y: auto;
  }
  ul.company > li {
    font-size: 3.6rem;
    line-height: 70px;
    font-weight: 700;
    margin-bottom: 60px;
  }
  ul.work {
    padding-left: 60px;
    padding-top: 10px;
  }
  ul.work > li {
    font-size: 2.6rem;
    line-height: 60px;
    font-weight: 400;
    list-style: disc;
  }
  .popup.hello .pop-inner .right-top {
    background-image: url(../img/cloud_bg.png);
    background-repeat: no-repeat;
  }
}